.userLogin{
 max-width: 150px;
  font-size: 20px;
  border: 1px solid ;
  background-color: greenyellow;
  padding:10px;
  color:burlywood;
  border-radius: 10px;

}
.notLogin{
  max-width: 150px;
   font-size: 20px;
   border: 1px solid ;
   background-color:red;
 padding: 10px;
   color: brown;
   border-radius: 10px;
   
 }